@import url(http://fonts.googleapis.com/css?family=Vast+Shadow|IM+Fell+DW+Pica);
/* * * * * * * *   SIMPLEST  * * * * * * * *
 *
 * The Semantic gridsystem
 * Responsive, fixed or fluid layout, nested columns
 *                  -:-
 * The best solution is the simplest solution
 */
/* line 3, ../sass/_demo.sass */
html {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/_demo.sass */
body {
  margin: 30px;
  padding: 0;
  font: 20px/1.6em "IM Fell DW Pica", serif, sans-serif;
  color: #463f4c;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/* line 15, ../sass/_demo.sass */
pre {
  border: 1px dashed #c8c8c8;
  line-height: 1.4em;
}

/* line 18, ../sass/_demo.sass */
code {
  font-size: 15px;
  line-height: 1.4em;
}

/* line 22, ../sass/_demo.sass */
header {
  margin: 0 auto;
  max-width: 980px;
}
/* line 25, ../sass/_demo.sass */
header h2, header p {
  margin-left: 2.04081633%;
  margin-right: 2.04081633%;
}

/* line 28, ../sass/_demo.sass */
h1, h2 {
  margin-bottom: 0.1em;
}

/* line 30, ../sass/_demo.sass */
h1 {
  font-size: 2.4em;
  text-align: center;
  margin-bottom: 2.3em;
}

/* line 34, ../sass/_demo.sass */
h2 {
  font-size: 1.4em;
  margin-top: 1em;
}

/* line 38, ../sass/_demo.sass */
p {
  margin: 0.5em 0 0 0;
}

/* line 42, ../sass/_demo.sass */
.wrapper.layout {
  text-align: center;
  line-height: 2em;
  background-color: #51788b;
  padding: 20px 0;
  color: #d3e7ef;
}
/* line 50, ../sass/_demo.sass */
.wrapper.layout .content i, .wrapper.layout .content b, .wrapper.layout .content li {
  display: block;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  font-weight: normal;
  font-style: normal;
  line-height: 2em;
}
/* line 56, ../sass/_demo.sass */
.wrapper.layout .content i, .wrapper.layout .content li {
  line-height: 1.4em;
  padding-bottom: 0.6em;
  color: #3d6778;
  text-shadow: none;
}
/* line 61, ../sass/_demo.sass */
.wrapper.layout .content i {
  font-size: 0.8em;
}
/* line 63, ../sass/_demo.sass */
.wrapper.layout .content li b {
  color: #d3e7ef;
}
/* line 66, ../sass/_demo.sass */
.wrapper.layout .content .main {
  background-color: #acd4e4;
}
/* line 68, ../sass/_demo.sass */
.wrapper.layout .content .main ul {
  margin-bottom: 2px;
}
/* line 70, ../sass/_demo.sass */
.wrapper.layout .content .main header, .wrapper.layout .content .main section, .wrapper.layout .content .main nav, .wrapper.layout .content .main li {
  background-color: #84b5cc;
}
/* line 72, ../sass/_demo.sass */
.wrapper.layout .content .main article, .wrapper.layout .content .main aside {
  background-color: #689fb5;
}

/* line 10, ../sass/_demo-fluid.sass */
.wrapper {
  margin: 0 auto;
  max-width: 980px;
}
/* line 12, ../sass/_demo-fluid.sass */
.wrapper .content {
  zoom: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 2.04081633%;
  padding-right: 2.04081633%;
}
/* line 131, ../sass/_simplest.sass */
.wrapper .content:before, .wrapper .content:after {
  content: "";
  display: table;
}
/* line 134, ../sass/_simplest.sass */
.wrapper .content:after {
  clear: both;
}
/* line 71, ../sass/_simplest.sass */
.wrapper .content li {
  margin: 0;
  padding: 0;
}
/* line 14, ../sass/_demo-fluid.sass */
.wrapper .content .main {
  zoom: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 131, ../sass/_simplest.sass */
.wrapper .content .main:before, .wrapper .content .main:after {
  content: "";
  display: table;
}
/* line 134, ../sass/_simplest.sass */
.wrapper .content .main:after {
  clear: both;
}
/* line 71, ../sass/_simplest.sass */
.wrapper .content .main li {
  margin: 0;
  padding: 0;
}
/* line 16, ../sass/_demo-fluid.sass */
.wrapper .content .main ul {
  zoom: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 131, ../sass/_simplest.sass */
.wrapper .content .main ul:before, .wrapper .content .main ul:after {
  content: "";
  display: table;
}
/* line 134, ../sass/_simplest.sass */
.wrapper .content .main ul:after {
  clear: both;
}
/* line 71, ../sass/_simplest.sass */
.wrapper .content .main ul li {
  margin: 0;
  padding: 0;
}
/* line 18, ../sass/_demo-fluid.sass */
.wrapper .content .main ul.two-col li {
  /* span          : 6 of 12 columns
   * context       : 940px
   * col-target    : 460px
   * col-width     : 48.93617021%
   * margin-target : 10px
   * margin-width  : 1.06382979% */
  float: left;
  width: 48.93617021%;
  margin-left: 1.06382979%;
  margin-right: 1.06382979%;
}
/* line 59, ../sass/_simplest.sass */
.wrapper .content .main ul.two-col li.first {
  margin-left: 0;
}
/* line 62, ../sass/_simplest.sass */
.wrapper .content .main ul.two-col li.last {
  margin-right: 0;
}
/* line 20, ../sass/_demo-fluid.sass */
.wrapper .content .main ul.three-col li {
  /* span          : 4 of 12 columns
   * context       : 940px
   * col-target    : 300px
   * col-width     : 31.91489362%
   * margin-target : 10px
   * margin-width  : 1.06382979% */
  float: left;
  width: 31.91489362%;
  margin-left: 1.06382979%;
  margin-right: 1.06382979%;
}
/* line 59, ../sass/_simplest.sass */
.wrapper .content .main ul.three-col li.first {
  margin-left: 0;
}
/* line 62, ../sass/_simplest.sass */
.wrapper .content .main ul.three-col li.last {
  margin-right: 0;
}
/* line 22, ../sass/_demo-fluid.sass */
.wrapper .content .main ul.four-col li {
  /* span          : 3 of 12 columns
   * context       : 940px
   * col-target    : 220px
   * col-width     : 23.40425532%
   * margin-target : 10px
   * margin-width  : 1.06382979% */
  float: left;
  width: 23.40425532%;
  margin-left: 1.06382979%;
  margin-right: 1.06382979%;
}
/* line 59, ../sass/_simplest.sass */
.wrapper .content .main ul.four-col li.first {
  margin-left: 0;
}
/* line 62, ../sass/_simplest.sass */
.wrapper .content .main ul.four-col li.last {
  margin-right: 0;
}
/* line 24, ../sass/_demo-fluid.sass */
.wrapper .content .main ul.six-col li {
  /* span          : 2 of 12 columns
   * context       : 940px
   * col-target    : 140px
   * col-width     : 14.89361702%
   * margin-target : 10px
   * margin-width  : 1.06382979% */
  float: left;
  width: 14.89361702%;
  margin-left: 1.06382979%;
  margin-right: 1.06382979%;
}
/* line 59, ../sass/_simplest.sass */
.wrapper .content .main ul.six-col li.first {
  margin-left: 0;
}
/* line 62, ../sass/_simplest.sass */
.wrapper .content .main ul.six-col li.last {
  margin-right: 0;
}
/* line 26, ../sass/_demo-fluid.sass */
.wrapper .content .main section {
  zoom: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  /* span          : 8 of 12 columns
   * context       : 940px
   * col-target    : 620px
   * col-width     : 65.95744681%
   * margin-target : 10px
   * margin-width  : 1.06382979% */
  float: left;
  width: 65.95744681%;
  margin-left: 1.06382979%;
  margin-right: 1.06382979%;
  margin-left: 0;
}
/* line 131, ../sass/_simplest.sass */
.wrapper .content .main section:before, .wrapper .content .main section:after {
  content: "";
  display: table;
}
/* line 134, ../sass/_simplest.sass */
.wrapper .content .main section:after {
  clear: both;
}
/* line 71, ../sass/_simplest.sass */
.wrapper .content .main section li {
  margin: 0;
  padding: 0;
}
/* line 59, ../sass/_simplest.sass */
.wrapper .content .main section.first {
  margin-left: 0;
}
/* line 62, ../sass/_simplest.sass */
.wrapper .content .main section.last {
  margin-right: 0;
}
/* line 30, ../sass/_demo-fluid.sass */
.wrapper .content .main section article {
  /* span          : 2 of 4 columns
   * context       : 620px
   * col-target    : 300px
   * col-width     : 48.38709677%
   * margin-target : 10px
   * margin-width  : 1.61290323% */
  float: left;
  width: 48.38709677%;
  margin-left: 1.61290323%;
  margin-right: 1.61290323%;
  margin-left: 0;
}
/* line 59, ../sass/_simplest.sass */
.wrapper .content .main section article.first {
  margin-left: 0;
}
/* line 62, ../sass/_simplest.sass */
.wrapper .content .main section article.last {
  margin-right: 0;
}
/* line 33, ../sass/_demo-fluid.sass */
.wrapper .content .main section aside {
  /* span          : 2 of 4 columns
   * context       : 620px
   * col-target    : 300px
   * col-width     : 48.38709677%
   * margin-target : 10px
   * margin-width  : 1.61290323% */
  float: left;
  width: 48.38709677%;
  margin-left: 1.61290323%;
  margin-right: 1.61290323%;
  margin-right: 0;
}
/* line 59, ../sass/_simplest.sass */
.wrapper .content .main section aside.first {
  margin-left: 0;
}
/* line 62, ../sass/_simplest.sass */
.wrapper .content .main section aside.last {
  margin-right: 0;
}
/* line 36, ../sass/_demo-fluid.sass */
.wrapper .content .main nav {
  /* span          : 4 of 12 columns
   * context       : 940px
   * col-target    : 300px
   * col-width     : 31.91489362%
   * margin-target : 10px
   * margin-width  : 1.06382979% */
  float: left;
  width: 31.91489362%;
  margin-left: 1.06382979%;
  margin-right: 1.06382979%;
  margin-right: 0;
}
/* line 59, ../sass/_simplest.sass */
.wrapper .content .main nav.first {
  margin-left: 0;
}
/* line 62, ../sass/_simplest.sass */
.wrapper .content .main nav.last {
  margin-right: 0;
}
/* line 40, ../sass/_demo-fluid.sass */
.wrapper.layout .content .grid-overlay {
  position: absolute;
  width: 100%;
  top: -50px;
  left: 0;
}
/* line 45, ../sass/_demo-fluid.sass */
.wrapper.layout .content .grid-overlay ul {
  text-align: center;
  zoom: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 131, ../sass/_simplest.sass */
.wrapper.layout .content .grid-overlay ul:before, .wrapper.layout .content .grid-overlay ul:after {
  content: "";
  display: table;
}
/* line 134, ../sass/_simplest.sass */
.wrapper.layout .content .grid-overlay ul:after {
  clear: both;
}
/* line 71, ../sass/_simplest.sass */
.wrapper.layout .content .grid-overlay ul li {
  margin: 0;
  padding: 0;
}
/* line 48, ../sass/_demo-fluid.sass */
.wrapper.layout .content .grid-overlay ul li {
  /* span          : 1 of 12 columns
   * context       : 940px
   * col-target    : 60px
   * col-width     : 6.38297872%
   * margin-target : 10px
   * margin-width  : 1.06382979% */
  float: left;
  width: 6.38297872%;
  margin-left: 1.06382979%;
  margin-right: 1.06382979%;
  height: 300px;
  color: #463f4c;
  background-color: rgba(255, 255, 255, 0.1);
}
/* line 59, ../sass/_simplest.sass */
.wrapper.layout .content .grid-overlay ul li.first {
  margin-left: 0;
}
/* line 62, ../sass/_simplest.sass */
.wrapper.layout .content .grid-overlay ul li.last {
  margin-right: 0;
}
